html {
    background-color: rgba(0, 0, 0, 0.75) !important;
	box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}

#mfs-c-input,
#mfs-c-output {
    color: #ddd;
    font-family: monospace;
    text-shadow: 1px 1px black;
}
#mfs-c-input {
	background: rgba(0,0,0,0.5);
	position: fixed;
	left: 0; bottom: 0;
    width: 100%;
    height: 2em;
	border: 1px inset #ddd;
	box-sizing: border-box;
}
#mfs-c-output {
	margin-bottom: 2em;
	max-height: calc(100% - 2em);
    max-height: -moz-calc(100% - 2em);
	overflow: hidden;
}
#mfs-c-output .lnoutput {
    display: block;
    min-height: 1em;
	white-space: pre-wrap;
}
#mfs-c-output .normal {}
#mfs-c-output .input,
#mfs-c-output .input:before { 
    color: lime;
	cursor: pointer;
}
#mfs-c-output .cmd,
#mfs-c-output .cmd:before,
#mfs-c-output .cmd:after {
	color: #9999ff;
	cursor: pointer;
}
#mfs-c-output .cmd:before {content: "[" }
#mfs-c-output .cmd:after,
#mfs-c-output .input:before { content: "]" }

:link { color: #9999ff }
:visited { color: #7676c0 }
:link:hover, :visited:hover { color: #ccccff}
#mfs-c-output .textdump {
    color: #fff;
}
#mfs-c-output .info {
    color: #a4e9ff
}
#mfs-c-output .warn {
    color: #ff9900
}
#mfs-c-output .error {
    color: #ff2222
}
#mfs-c-output .important {
    color: lime;
    font-weight: bold
}
#mfs-c-output .lnoutput.mfs-c-gallery {
    display: inline-block;
    margin: 1em;
}
